
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap%27');

body {
    margin: 0;
    font-family: 'Poppins';
    overflow: hidden;
    background-color: rgb(246, 246, 246);
}

.logo{
    font-size: 1em;
    margin: 0;
    color: white;
    font-weight: bold;
}


span,label {
    margin: 0px;
}

.navbar {
    background-color: #21c6e8;
    height: 70px;
}

.navbar2 {
    background-color: #21c6e8;
    height: 70px;
    width: 100%;
    bottom: 0;
    display: block;
    position: fixed;
}


.container{
    display: flex;
    padding: 10px;
    align-items:center;
}

.nav-elements{
    overflow: hidden;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-left: 8px;
}

.arrow{
    width: 27px;
    height: 37px;
    border: none;
    background: none;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
}


.base-button, .base-bg {
    height: 50px;
    font-size: 18px;
    border-radius: 25px;
    font-family: 'Poppins';
    color: white;
    border: none;
    background-color: #4ae2a5;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items:center;
    min-width: 40px;
}


.base-button:hover {
    background-color: #8bffae;
    cursor: pointer;
}

.base-button:disabled{
    background-color: rgb(166, 172, 162);
}

.patrat {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}

input[type="number"] {
    width: 40px;
    height: 30px;
    margin: 0;
    margin-top: 2px;
    background: none;
    border:none;
    color: white;
    font-family: 'Poppins';
    font-size: 18px;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    background-color: #4ae2a5;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 15px;
}

#alg-label,#play-span {
    display: none;
}

@media only screen and (min-width: 1420px) {
    .base-bg, .base-button {
        font-size: 24px;
        margin: 10px;
        height: 50px;
    }
    .navbar2{
        display:none;
    }
    input[type="number"] {
        width: 50px;
        margin: 10px;
        font-size: 24px;
    }
    #alg-label,#play-span {
        display: block;
    }
    span {
        margin: 10px;
    }
    .container {
        padding-top: 0;
    }
    li {
        margin-left: 20px;
    }
    select {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px){
    #speed-text, #count-text{
        position: fixed;
        margin-bottom: 20px;
    }
    #speed, #count{
        margin: 20px 0 0 10px;
    }
    #percentage-sign{
        margin-top: 20px;
    }
    #speed-bg.base-bg, #count-bg.base-bg {
        padding: 0 20px 0 10px;
    }
    #alg-bg.base-bg {
        padding-left: 5px;
    }
}